html,
body {
  font-family: sans-serif;
  background-color: rgb(139, 168, 255);
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pinkBox {
  width: 300px;
  height: 300px;
  background-color: rgb(255, 169, 212);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.gray {
  width: 90px;
  height: 90px;
  background-color: lightgray;
}

.gray:nth-child(2):hover {
  background-color: rgb(255, 248, 108);
}
